.main {
  width: 75%;
  min-height: 100vh;
  float: right;
  border-left: 2px solid black;
}
.side {
  padding: 3rem 1rem;
  width: 25%;
  height: 100%;
  float: left;
  /* border-bottom: 15vh solid rgba(6, 6, 6, 0.934); */
}
